<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite de Pruebas">
    <listeners>
        <listener class-name="com.bel.automation.utils.Listeners" />
    </listeners>
    <test name="Test de Capturas">
        <classes>
            <class name="com.bel.automation.tests.LoginTest" />
        </classes>
    </test>
</suite>